@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --primary-100: #0B194A;
  --primary-80: #1A2756;
  --secondary-50: #8499E0;
  --accent: #4326DC;
  --rectangle-shade: rgba(132, 153, 224, 0.2);
  --font-type: "Open Sans";
}